
footer {
  width: 100%;
  background: #333;
  color: #fff;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  a:hover {
    text-decoration: none;
  }

  & svg {
    max-width: 30px;
    margin: 0 5px;
    fill: #e8e8e8;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      fill: #ccc;
    }
  }
}
