html,
body {
  font-family: "Raleway", Arial, sans-serif;
}

body {
  padding-top: 50px;
}

h1 {
  font-weight: 200;
}

h2,h3,h4,h5,h6 {
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
}
