/**
*
* Flexbox
*
**/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  max-width: $container-large-desktop;
  margin: 0 auto;


  @media screen and (min-width: $screen-xs) {
    &.flex-xs {
      &-nowrap {
        flex-wrap: nowrap;
      }
    }
  }
  @media screen and (min-width: $screen-sm) {
    &.flex-sm {
      &-nowrap {
        flex-wrap: nowrap;
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    &.flex-md {
      &-nowrap {
        flex-wrap: nowrap;
      }
    }
  }
  @media screen and (min-width: $screen-lg) {
    &.flex-lg {
      &-nowrap {
        flex-wrap: nowrap;
      }
    }
  }


  .column {
    width: 100%;
    padding: 10px;
    align-items: stretch;
  }
}


// .layout {
//
//
//   // Layout mobile 2 --> tablet/desktop 4
//   &-2-4 {
//     .column {
//       //margin: 10px;
//       width: 100%;
//       padding: 10px;
//       &:last-child() {
//         clear: both;
//       }
//     }
//   }
// }
